########## EPYS v2020-01 GitIgnore

### Composer
vendor
vendor/
/vendor
/vendor/
### Test
test
test/
/test
/test/
### PHPStorm
.idea
.idea/
/.idea
/.idea/

composer.lock

### Archivos de OSX
.DS_Store
.AppleDouble
.LSOverride


